In [1]:
# How do interest rate changes from the Federal Reserve affect stock prices during 2022?
# How does the inflation rate correlate with stock prices during 2022?
# Does trading volume correlate to changes in interest rates in 2022?
# Which stocks appear to be the best investment insofar as performance?

In [2]:
# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

# import data files
facebookDataPath = "data/Facebook.csv"
amazonDataPath = "data/Amazon.csv"
appleDataPath = "data/Apple.csv"
netflixDataPath = "data/Netflix.csv"
googleDataPath = "data/Google.csv"
inflationDataPath = "data/Inflation.csv"

# read and display the data
facebook_csv = pd.read_csv(facebookDataPath)
amazon_csv = pd.read_csv(amazonDataPath)
apple_csv = pd.read_csv(appleDataPath)
netflix_csv = pd.read_csv(netflixDataPath)
google_csv = pd.read_csv(googleDataPath)

# Turn data into DataFrames
facebookDF = pd.DataFrame(facebook_csv)
amazonDF = pd.DataFrame(amazon_csv)
appleDF = pd.DataFrame(apple_csv)
netflixDF = pd.DataFrame(netflix_csv)
googleDF = pd.DataFrame(google_csv)

In [3]:
# add a label column to each dataframe
facebookDF.insert(0, "Label", "Facebook")
amazonDF.insert(0, "Label", "Amazon")
appleDF.insert(0, "Label", "Apple")
netflixDF.insert(0, "Label", "Netlfix")
googleDF.insert(0, "Label", "Google")

# merge the dataframes
mergedData = pd.merge(facebook_csv, google_csv, how = "outer", on = "Label")

mergedData.head()

,Label,Date_x,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Date_y,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
0,Facebook,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Facebook,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Facebook,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Facebook,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Facebook,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN